body {
  margin: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none !important;
}

.navbar {
  padding: 10px;
}

.navbar-dark {
  background-color: #272343;
  font-weight: 100 !important;
}

.navbar-light {
  background-color: #272343;
  font-weight: 100 !important;
}

.brand-brain {
  color: #e3f6f5 !important;
  padding: 5px;
}

.navbar-brand-h3 {
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #e3f6f5 !important;
}

.navbar-toggler {
  color: #e3f6f5 !important;
  font-size: 25px;
}

.navbar-hambuger {
  color: #e3f6f5 !important;
}

.nav-link {
  padding: 0 5px;
  color: #e3f6f5 !important;
}

#pitch-section {
  padding: 7%;
  background-image: url();
}

.title {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #bae8e8
}

.pitch {
  color: #272343;
  margin-top: 1rem;
}

.pitch-img {
  width: 50px
}

#areas {
  padding: 7% 15%;
}

.area-box {
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.area-icon {
  color: #272343;
  margin-bottom: 1rem;
  text-decoration: none;
}

.h3-area {
  font-family: "Questrial";
  color: #272343;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 0.5;
}

.h3-area:hover {
  color: #bae8e8;
}

.p-area {
  color: #555;
  font-size: 0.9rem;
}

#home-bg {
  background-color: #fff;
}

.bg-nav {
  background-color: #272343;
}

.bg-footer {
  background-color: #bae8e8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #bae8e8;
  border-width: 5px;
  width: 5%;
}

.summary {
  color: #808080;
  border-left: 4px solid #bae8e8;
  font-size: 16px;
  margin: 20px 0px 20px 0px;
  padding-left: 10px;
}
