<nav class="navbar navbar-expand-md navbar-dark">
    <a href="#" class="navbar-brand">
        <h3 class="mb-0">My Dev Tool Box</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#showcase" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#icons" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#explore" class="nav-link">Explore</a>
            </li>
            <li class="nav-item">
                <a href="#newsletter" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#bookingModal">Book</a>
            </li>
        </ul>
    </div>
</nav>
