<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Questrial|Raleway|Roboto&display=swap" rel="stylesheet">

<section>
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a href="index.html" class="navbar-brand">
        <h3 class="navbar-brand-h3" href="index.html"><i class="fas fa-brain brand-brain fa-lg mr-2"></i>MyBrepo</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
        <span>
          <i class="fas fa-bars navbar-hamburger"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#devconfig" class="nav-link"><i class="fab fa-github mr-1"></i>GitHub</a>
          </li>
          <li class="nav-item">
            <a href="#devconfig" class="nav-link">Web</a>
          </li>
          <li class="nav-item">
            <a href="#toolkits" class="nav-link">Cloud</a>
          </li>
          <li class="nav-item">
            <a href="#codesnippets" class="nav-link">Design</a>
          </li>
          <li class="nav-item">
            <a href="#design" class="nav-link">Tools</a>
          </li>
          <li class="nav-item">
            <a href="#design" class="nav-link">Assets</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</section>
